#root, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
}

.app {
    height: 100%;
    background-color: rgb(223, 255, 211);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card {
    background-color: rgb(255, 249, 241);
    width: 40%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    padding: 2%;
    border: #164ca7 1px solid;
}

.heading {
    display: flex;
    align-items: center;
    height: 580px;
    font-family: 'Spartan', sans-serif;
}

.button {
    position: relative;
    outline: none;
    text-decoration: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    height: 200px;
    width: 210px;
    opacity: 1;
    background-color: #ffffff;
    border: 1px solid rgba(22, 76, 167, 0.6);
  }

  .button span {
    color: #164ca7;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.7px;
  }
    
  .button:hover {
    animation: rotate 0.7s ease-in-out both;
  }
    
  .button:hover span {
    animation: storm 0.7s ease-in-out both;
    animation-delay: 0.06s;
  }
    
  @keyframes rotate {
    0% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
    25% {
      transform: rotate(0.5deg) translate3d(0, 0, 0);
    }
    50% {
      transform: rotate(-0.5deg) translate3d(0, 0, 0);
    }
    75% {
      transform: rotate(0.25deg) translate3d(0, 0, 0);
    }
    100% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
  }
    
  @keyframes storm {
    0% {
      transform: translate3d(0, 0, 0) translateZ(0);
    }
    25% {
      transform: translate3d(2px, 0, 0) translateZ(0);
    }
    50% {
      transform: translate3d(-1px, 0, 0) translateZ(0);
    }
    75% {
      transform: translate3d(1px, 0, 0) translateZ(0);
    }
    100% {
      transform: translate3d(0, 0, 0) translateZ(0);
    }
  }  
  
  @media only screen and (max-width: 600px) {
    .card {
        width: 80%;
        height: 30%;
    }
  }